.create-room-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../../assets/BG.jpg');
  background-size: cover;
  padding: 20px;
  font-family: 'Baloo';
}

.create-card {
  background-color: #D9DBF1;
  border: 2px solid #6971A8;
  border-radius: 40px;
  width: 90%;
  max-width: 800px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.create-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.create-title {
  color: #5b6394;
  font-size: 2.5rem;
  margin: 0;
}

/* Buttons */
.nav-btn.cancel{
  padding: 12px 25px;
  border-radius: 40px;
  cursor: pointer;
  border: 2px solid #9B3232;
  background-color: #F98D8D;
  box-shadow: 2px 2px 0px rgba(0,0,0,0.2);
  font-weight: 400;
}

.nav-btn.submit{
  padding: 12px 25px;
  border-radius: 40px;
  cursor: pointer;
  border: 2px solid #799B32;
  background-color: #DBF4A7;
  box-shadow: 1px 2px 0px rgba(0,0,0,0.2);
  font-weight: 400;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1.5fr; 
  align-items: center;
  margin-bottom: 25px;
  gap: 20px;
}

.form-group label {
  color: #5b6394;
  text-align: right;
  font-size: 1.1rem;
}

.form-input, .form-textarea, .form-select, .step-display {
  background-color: #f9f9f0; 
  border: 2px solid #8E9DCC !important;
  border-radius: 20px;
  padding: 10px 20px;
  color: #5b6394;
  outline: none;
}

.form-textarea {
  height: 120px;
  resize: none;
}


.number-stepper {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.step-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid white !important;
  background-color: #f9f9f0;
  cursor: pointer;
  color: #5b6394;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.top-align { align-items: start; }
.top-align label { margin-top: 10px; }