.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(142, 157, 204, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: 'Baloo';
}

.modal-card {
  background-color: #FAF9F0;
  width: 90%;
  max-width: 600px;
  border-radius: 40px;
  padding: 40px;
  position: relative;
  border: 3px solid #8E9DCC;
  box-shadow: 0 10px 0px rgba(0,0,0,0.1);
}

.close-x {
  position: absolute;
  top: 20px;
  right: 25px;
  background: none;
  border: none;
  font-size: 30px;
  color: #8E9DCC;
  cursor: pointer;
}

.modal-title {
  color: #5b6394;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 20px;
}

.name-edit-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  color:#5b6394;
}

.name-input {
  border-radius: 40px;
  border: 2px solid #8E9DCC;
  padding: 10px 20px;
  font-family: 'Baloo';
  font-size: 16px;
  color: #5b6394;
}

.sessions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.sessions-header h3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: #5b6394;
  font-size: 20px;
}


.add-session-btn {
  background-color: #DBF4A7;
  border: 2px solid #799B32;
  border-radius: 15px;
  padding: 5px 15px;
  cursor: pointer;
  font-family: 'Baloo';
}

.s-table-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  color: #5b6394;
  padding: 10px 20px;
}

.s-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  background: white;
  border: 2px solid #8E9DCC;
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 33px;
  align-items: center;
  color: #8E9DCC;
}

.s-link-btn {
  background: none;
  border: none;
  text-decoration: underline;
  color: #8E9DCC;
  cursor: pointer;
  font-family: 'Baloo';
}

.done-btn{
  background-color: #DBF4A7;
  border: 2px solid #799B32;
  border-radius: 15px;
  padding: 5px 15px;
  cursor: pointer;
  font-family: 'Baloo';
  margin-top: 10px;
}

.no-data{
    color:  #F98D8D;
    margin-left: 20px;
    margin-bottom: 30px;
}